body {
    width: 50%;
}

h1.title {
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    color: #ff2b2b;
}

h1.table-title {
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    color: rgba(0, 129, 213, 0.84);
}

h1.table-entity {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
}